1.Values: "hello", -87.8, 6

  expressions: *, -, /, +

2. String is a primitive datatype in python. It is a combination of characters and numbers whereas, a variable is
    a place in memory(RAM), which holds different values like int, float, string.

3. There are five data types in python.

     i. numerical datatype:
         > Integer
         > Float
         > complex Numbers
    ii. sequantial datatype:
         > String
         > List
         > Tuple
   iii. Boolean
   
    iv. Dictionary
    
     V. Set:
         > Set
         > Frozenset

Numerical datatype: This datatype represents numerical values like integer, float, and complex numbers in python. 

    "int" represensts integer values. which is a whole number (ex: -5,7, 9 ,96, ...).
    
    "float" represents floating values. It can be identified by decimal point (ex: 4.67, 3.14, -1.84, ...).
    
    "complex"  represents complex numbers. it is written in x+ yj format (ex: 2+4j, 5+9j, ...).

Sequential datatype: sequence datatype represents collection of similar or various values like, integer, float, string etc. 
the elements are accessed by their index values. 

     "list" is a collection of unorgaized values like int, string, numbers and others. It values are separated by commasand grouped by parentheses.
     ex: [3,"python", "data","science","3.14"]
     
    "string" represents ccollection of one nor more charactrs put in a single quote (ex: "this is a string").
    
    "tuple" represents a group of data that are separated by commas and grouped by parentheses (ex: (8,9,7),  ("machine","learning")
    
Dictionary: Dictionary is an unordered list of values, where the data values are stored as a map. dictionary holds 
    the data as a key-value pair. Now every element of dictionary separated by comma(,) and every key-value pair separated byt colon(:).
    
    ex: {"stream": "computer science", "year": 3, "grade": 7.42}

4. An expression is a combination of different operators and operands which produces result. A expressionwith more than one operator will be evaluated as per their operator precedence. 

    Expressions produce results with the help of operators and operands.

5. An expression is a combination of operator and operands whereas a statement does not have to be the same. 

   an expression

    ex: x = (5 + 6) - 7 is an expression
        print("this is an statement")  is a statement

6. bacon  = 22

   bacon + 1

   bacon = 23

7. 'spam' + 'spamspam' == 'spamspamspam'

    'spam' * 3 == 'spamspamspam'

8. The compiler gets when program used numerical values as identifier or variable and causes syntax error.

9. the three functions are
      >int()
      
      >float()
      
      >str()

10. python can't concatinate string with integers. In a broader sense addition is not possible for different data types. So, it will cause a type error.

    it can be fixed if we use quotation around 99.
    
      'I have eaten ' + '99' + ' burritos'

   > 'I have eaten 99 burritos'