Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [8]:
numbers = [12, 75, 150, 180, 145, 525, 50]
maximum = 0
for i in numbers:
    if i >  maximum:
        maximum = i
    
print(f"{maximum} is the largest number in the list.")

525 is the largest number in the list.

Q2. Print all the even number between (1, 12).

In [15]:
for i in range(1, 12):
    if i % 2 == 0: print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [19]:
numbers = int(input("Enter Number: "))
summation = 0
for i in range(1, numbers+1):
    summation = summation + i
    
print(f"summation: {summation}")

Enter Number: 10
summation: 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [22]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in range(len(numbers)):
    if numbers[i] % 5 == 0:
        print(f"{numbers[i]} is divisible by 5 \n")
        if numbers[i] > 150:
            print(f"{numbers[i]} are greater than 150\n")
            continue
        elif numbers[i] > 500:
            print(f"{numbers[i]} is greater than 500\n ")
            break

75 is divisible by 5

150 is divisible by 5

180 is divisible by 5

180 are greater than 150

145 is divisible by 5

525 is divisible by 5

525 are greater than 150

50 is divisible by 5

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]

In [23]:
List1 = [10, 20, 30, 40 , 50]

List1[::-1]

[50, 40, 30, 20, 10]