TO: query@ineuron.ai CC: sunny@ineuron.ai, riishav@ineuron.ai, boktiar@ineuron.ai

Subject: [Bootcamp 2.0 | Assignment No. 1]:

    1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
    2. Take input A and B and print their sum, mul, div, square of the nos.
    3. How many reserve keywords are there in python and why we should not use them as a variable name.
    4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com
    5. Try to print the following lines -
        i. Hi I'm Sunny
        ii. My address is 22\3
        iii. I earn 20$ daily.
    6 Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
    7. Convert the following -
        i. "22.4" into integer
        ii. "22" into complex no.

In [ ]:
#1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

## i.naming convention

  The first error was due to variable naming . We first used to different variables to named "TEN" and "ten" to hold
  two different values 10 and 20. However, we used variable name "Ten" to get the value of it, which was not defined. That 
  is the reason we get the "NameError"

In [1]:
#example:

TEN = 10
ten = 20

print(Ten)

NameError: name 'Ten' is not defined

## ii. reserved words
    There are few reserved words in python for the sake of unambiguity in naming convention. "print" is one of them. Although,
    python will not restrict anyone to use that keyword, however, it will cause problem in the code.

In [3]:
#example_1

print = "Hello World"

print("Hello world")

TypeError: 'str' object is not callable

In [6]:
#example_2

print = 12

type(print())

TypeError: 'int' object is not callable

## iii.typecasting

We do not need to use datatype to declare variable name. python will handle it implicitly.

If we do, it will casuse and syntax error.

In [7]:
#example

int pyt

SyntaxError: invalid syntax (1286463532.py, line 3)

In [8]:
#example_2

str pyt = "hello world"

SyntaxError: invalid syntax (3549385007.py, line 3)

# iv. type conversion

   convert into float first and then to int.

In [1]:
A = int(input("enter number: "))

enter number: 10.2

ValueError: invalid literal for int() with base 10: '10.2'

## 2. Take input A and B and print their sum, mul, div, square of the nos.

In [12]:
A = int(input("enter the value of first value: "))

B = int(input("enter the value of second value: "))

SUM = A + B
MUL = A * B
DIV = A / B
squareA = A ** 2
squareB = B ** 2

print(f"SUM: {SUM}")

print(f"MUL: {MUL}")

print(f"DIV: {DIV}")

print(f" SQUARE of A : {squareA}, SQUARE OF B:  {squareB}")

enter the value of first value: 3
enter the value of second value: 4
SUM: 7
MUL: 12
DIV: 0.75
 SQUARE of A : 9, SQUARE OF B:  16

## 3. How many reserve keywords are there in python and why we should not use them as a variable name.

There are 31 reserved keyowrds in python.

We hsould not use reserved keywords to mitigate the ambiguity and chance of causing any error due to it.

# ## 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [14]:
first_name = input("enter the first name: ")
last_name = input("enter the last name: ")

print(f"{last_name}.{first_name}@gmail.com")

enter the first name: madhusudan
enter the last name: mandal
mandal.madhusudan@gmail.com

## 5. Try to print the following lines -
###    i. Hi I'm Sunny
###    ii. My address is 22\3

In [15]:
print("Hi I'm Sunny")

print("My address is 22\3")

print("I earn 20$ daily")

Hi I'm Sunny
My address is 22
I earn 20$ daily

### Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [24]:
first_name = input("enter your first name: ")
last_name = input("enter your last name: ")
address = input("enter your address: ")
date_of_birth = input("enter your birth year: ")
print("")
print(f"Name: {first_name}{last_name}\n"
      f"Address: {address}\n"
      f"D.O.B: {date_of_birth}\n")

print(f"{last_name}.{first_name}@college.com")

enter your first name: madhusudan
enter your last name: mandal
enter your address: WB
enter your birth year: 1998

Name: madhusudanmandal
Address: WB
D.O.B: 1998

mandal.madhusudan@college.com

## 7. Convert the following -
###    i. "22.4" into integer
###    ii. "22" into complex no.

In [27]:
int(float("22.4"))

22

In [26]:
complex(22)

(22+0j)